.data{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 182px;
    flex-direction: column;
    color: aliceblue;
}
#username{
    padding: 10px;
    margin: 20px;
}
#password{
    padding: 10px;
    margin: 20px;
}